body{
	
color:black;font-family: 'Oswald', sans-serif;
padding: 10px;
font-size: 30px;



}

h1{
	background-color: red;
	
	margin: 10px;
	border-radius: 10px;
	text-align:center;
	box-sizing: border-box;}
